<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">{{app_name}} Registration</h3>
              <form #myform="ngForm" (ngSubmit)="register(myform)" class="form form-register">
                <div class="form-label-group">
                  <input type="text" id="username" name="username" class="form-control" placeholder="User Name" required
                    ngModel>
                  <label for="username">UserName</label>
                </div>
                <div class="form-label-group">
                  <input type="email" id="emailAddress" name="email" class="form-control" placeholder="Email address"
                    required ngModel>
                  <label for="emailAddress">Email address</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                    required ng-minlength=4 ngModel>
                  <label for="inputPassword">Password</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="confirmInputPassword" name="confirmPassword" class="form-control"
                    placeholder="Password" ng-required="true" ng-minlength=4 ngModel>
                  <label for="confirmInputPassword">Confirm Password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="submit" [disabled]="processing">Register</button>
                <div *ngIf="hasError">
                  <p style="color: red"><b>{{errorString}} </b></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
