<head>
  <title>Photo Gallery</title>
  <meta charset="UTF-8">
  <meta name="description" content="Photo Gallery">
  <meta name="keywords" content="endGam,gGaming, magazine, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="../../../assets/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="../../../assets/css/animate.css" />
</head>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>
  
  <div class="main-warp">
    <!-- header section -->
    <header class="header-section">
      <div class="header-close">
        <i class="fa fa-times"></i>
      </div>
      <div class="header-warp">
        <a href="" class="site-logo">
          <img src="../../../assets/img/logo.png" alt="">
        </a>
        <img src="../../../assets/img/menu-icon.png" alt="" class="menu-icon">
        <ul class="main-menu">
          <li [ngClass]="{'active': activeChildName == 'gallary'}"><a [routerLink]="['/home']" (click)="updateChild('gallary')">Gallery</a></li>
          <li [ngClass]="{'active': activeChildName == 'contacts'}"><a [routerLink]="['/home']" (click)="updateChild('contacts')">Contacts</a></li>
          <li [ngClass]="{'active': activeChildName == 'about-us'}"><a [routerLink]="['/home']" (click)="updateChild('about-us')">About us</a></li>
          <li><a [routerLink]="['/home']" (click)="doLogout()">Logout</a></li>
        </ul>
        <div class="social-links-warp">
          <div class="social-links">
            <a href=""><i class="fa fa-behance"></i></a>
            <a href=""><i class="fa fa-dribbble"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-pinterest"></i></a>
          </div>
          <div class="social-text">Find us on</div>
        </div>
      </div>
      <div class="copyright">Colorlib 2018 @ All rights reserved</div>
    </header>
    <!-- header section end -->
    <app-gallary *ngIf="activeChildName == 'gallary'"></app-gallary>
    <app-contacts *ngIf="activeChildName == 'contacts'"></app-contacts>
    <app-about-us *ngIf="activeChildName == 'about-us'"></app-about-us>
  </div>

  <!--====== Javascripts & Jquery ======-->
  <script src="../../../assets/js/owl.carousel.min.js"></script>
  <script src="../../../assets/js/jquery.nicescroll.min.js"></script>
  <script src="../../../assets/js/isotope.pkgd.min.js"></script>
  <script src="../../../assets/js/imagesloaded.pkgd.min.js"></script>
  <script src="../../../assets/js/circle-progress.min.js"></script>
  <script src="../../../assets/js/main.js"></script>
</body>
