:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../assets/intro_wall.jpg");
  background-size: cover;
  background-position: center;
}
